<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>TypeSgbd</param-name>
            <param-value>MySql</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CptServlet</servlet-name>
        <servlet-class>Servlet.CptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>Servlet.ServletPrincipal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CptServlet</servlet-name>
        <url-pattern>/CptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
